In [9]:
import pandas as pd 
import numpy as np
import scipy.stats as stats

In [10]:
data=pd.read_csv(r"C:\Users\sudarson.SUDARSON\Downloads\test mach learn\Paper1\MonthWiseMarketArrivals_Clean.csv")

In [12]:
data

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
0,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,January-2005
1,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,January-2006
2,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,January-2010
3,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,January-2011
4,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,January-2012
...,...,...,...,...,...,...,...,...,...,...
10222,YEOLA(MS),December,2011,131326,282,612,526,MS,YEOLA,December-2011
10223,YEOLA(MS),December,2012,207066,485,1327,1136,MS,YEOLA,December-2012
10224,YEOLA(MS),December,2013,215883,472,1427,1177,MS,YEOLA,December-2013
10225,YEOLA(MS),December,2014,201077,446,1654,1456,MS,YEOLA,December-2014
10226,YEOLA(MS),December,2015,223315,609,1446,1126,MS,YEOLA,December-2015

In [16]:
data=data.set_index(data.date)

In [20]:
data=data.iloc[:,[0,3,4,5,6]]

<h1>q1<h1>

In [21]:
data

                   market  quantity  priceMin  priceMax  priceMod
date
January-2005   ABOHAR(PB)      2350       404       493       446
January-2006   ABOHAR(PB)       900       487       638       563
January-2010   ABOHAR(PB)       790      1283      1592      1460
January-2011   ABOHAR(PB)       245      3067      3750      3433
January-2012   ABOHAR(PB)      1035       523       686       605
...                   ...       ...       ...       ...       ...
December-2011   YEOLA(MS)    131326       282       612       526
December-2012   YEOLA(MS)    207066       485      1327      1136
December-2013   YEOLA(MS)    215883       472      1427      1177
December-2014   YEOLA(MS)    201077       446      1654      1456
December-2015   YEOLA(MS)    223315       609      1446      1126

[10227 rows x 5 columns]